clarabel==0.6.0
cloudpickle==3.0.0
contourpy==1.2.0
cvxpy==1.4.2
cycler==0.12.1
ecos==2.0.13
fonttools==4.48.1
gym==0.26.2
gym-notices==0.0.8
gym-panda==0.0.6
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.4
osqp==0.6.5
packaging==23.2
pillow==10.2.0
pybind11==2.11.1
pybullet==3.2.6
pygame==2.5.1
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
qdldl==0.1.7.post0
scipy==1.11.4
scs==3.2.4.post1
six==1.16.0
